body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }

.checkout-page, .checkout-page * {
    box-sizing: border-box;
    }
.checkout-page {
   background: #ffffff;
    padding: 104px 384px 104px 384px;
    width: 1924px;
    height: 1113px;
    position: relative;
    overflow: hidden;
   }

.proceed-bt {
   width: 171px;
    height: 55px;
    position: absolute;
    left: 1153px;
   top: 859px;
   }

.proceed {
   color: #000000;
    text-align: left;
    font: 400 28px 'Inter', sans-serif;
    position: absolute;
    left: 23px;
   top: 9px;
   }

.line-30 {
   border-style: solid;
    border-color: #000000;
    border-width: 1px 0 0 0;
    width: 51px;
    height: 0px;
    position: absolute;
    left: 1092px;
   top: 890px;
   }

.total-frame {
   width: 260px;
    height: 55px;
    position: absolute;
    left: 815px;
   top: 862px;
   }

.total {
   color: #000000;
    text-align: left;
    font: 400 32px 'Inter', sans-serif;
    position: absolute;
    left: 0px;
   top: 5px;
   }

.total-box {
   background: #dfdfdf;
    border-radius: 8px;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    width: 168px;
    height: 55px;
    position: absolute;
    left: 92px;
   top: 0px;
   }

.suggestion {
   width: 508.76px;
    height: 200.5px;
    position: absolute;
    left: 815.18px;
   top: 634.5px;
   }

.any-additional-request-comments-about-the-art {
   color: #000000;
    text-align: left;
    font: 400 23.42px 'Inter', sans-serif;
    position: absolute;
    left: 9.37px;
   top: 0px;
   }

.suggestion-area {
   background: rgb(224, 191, 255);
    border-radius: 12.18px;
    border-style: solid;
    border-color: #000000;
    border-width: 0.94px;
    width: 499.39px;
    height: 133.04px;
    position: absolute;
    left: 9.37px;
   top: 67.46px;
   }

   .add-comment-here {
    position: relative;
    left: 28.11px;
    top: 81.51px;
}

.input-text {
    background: transparent;
    border: none;
    font: 400 18.74px 'Inter', sans-serif;
    color: #000000;
    width: 470px; 
    outline: none;
    height: 100px; 
    resize: none; 
    overflow: auto; 
}

.if-none-then-you-can-leave-it-blank {
   color: #6a040f;
    text-align: left;
    font: 400 18.74px 'Inter', sans-serif;
    position: absolute;
    left: 0px;
   top: 32.79px;
   }

.colorgrade-option {
   width: 447.86px;
    height: 155.54px;
    position: absolute;
    left: 815.18px;
   top: 439.61px;
   }

.color-grading-option {
   color: #000000;
    text-align: left;
    font: 400 39.71px 'Inter', sans-serif;
    position: absolute;
    left: 0px;
   top: 0px;
   }

.colored {
   color: #000000;
    text-align: left;
    font: 400 22.06px 'Inter', sans-serif;
    position: absolute;
    left: 0px;
   top: 102.59px;
   }

.colored2 {
   border-radius: 7.72px;
    border-style: solid;
    border-color: #000000;
    border-width: 1.1px;
    width: 82.73px;
    height: 79.42px;
    position: absolute;
    left: 104.82px;
   top: 77.39px;
   }

.black-n-white {
   color: #000000;
    text-align: left;
    font: 400 22.06px 'Inter', sans-serif;
    position: absolute;
    left: 202.97px;
   top: 102.59px;
   }

.blknwhite {
   background: linear-gradient(180deg, rgba(0, 0, 0, 0.65) 44.57961022853851%,rgba(0, 0, 0, 0.00) 46.49277925491333%);
    border-radius: 7.72px;
    border-style: solid;
    border-color: #000000;
    border-width: 1.1px;
    width: 82.73px;
    height: 79.42px;
    position: absolute;
    left: 365.12px;
   top: 76.11px;
   }

.size-option {
   width: 800px;
    height: 202px;
    position: absolute;
    left: 803px;
   top: 211px;
   }

.default-resolution-dropdown {
   width: 237px;
    height: 41px;
    position: absolute;
    left: 397px;
   top: 128px;
   }

.default-dropdown {
   border-radius: 0px;
    position: absolute;
    left: 0px;
   top: 0px;
    overflow: visible;
   }

.default-resolutions {
   color: #000000;
    text-align: left;
    font: 300 16.85px 'Inter', sans-serif;
    position: absolute;
    left: 49px;
   top: 11px;
   }

.size-option2 {
   color: #000000;
    text-align: left;
    font: 400 42.99px 'Inter', sans-serif;
    position: absolute;
    left: 11.83px;
   top: 0px;
   }

.width {
   color: #000000;
    text-align: left;
    font: 300 31.16px 'Inter', sans-serif;
    position: absolute;
    left: 12px;
   top: 101px;
   }

.height {
   color: #000000;
    text-align: left;
    font: 300 31.16px 'Inter', sans-serif;
    position: absolute;
    left: 12px;
   top: 164px;
   }

.note-preferred-by-pixels {
   color: #6a040f;
    text-align: left;
    font: 400 23.65px 'Inter', sans-serif;
    position: absolute;
    left: 12px;
   top: 60px;
   }

.mode-payment {
   width: 368px;
    height: 164px;
    position: absolute;
    left: 166px;
   top: 770px;
   }

.rectangle-84 {
   background: #93e5ff;
    border-radius: 40px;
    width: 359px;
    height: 89px;
    position: absolute;
    left: 0px;
   top: 75px;
   }

.gcash {
   width: 202px;
    height: 67.27px;
    position: absolute;
    left: 79px;
   top: 84px;
   }

.mode-of-payment {
   color: #000000;
    text-align: left;
    font: 400 46.23px 'Inter', sans-serif;
    position: absolute;
    left: 0px;
   top: 0px;
    width: 501px;
    height: 84px;
   }

.checkout-photo {
   width: 391px;
    height: 471px;
    position: absolute;
    left: 151px;
   top: 239px;
   }

.paint-st-art {
   color: #000000;
    text-align: left;
    font: 700 122.99px 'Inter', sans-serif;
    position: absolute;
    left: 151px;
   top: 62px;
   }

/* width input text */

.wrapper {
    position: relative;
    top: -25px;
    left: -270px;
  }
  
  .input {
    width: 190px;
    height: 35px;
    border-radius: 5px;
    border: 2px #323232 solid;
    padding: 5px 15px;
    background-color: #ffffff;
    font-size: 15;
    font-weight: 500;
  }
  
  .placeholder {
    width: 65%;
    position: absolute;
    top: -18px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    text-align: center;
    color: blueviolet;
    background-color: #ffffff;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1.5px;
    transition: all 0.3s;
    opacity: 0;
  }
  
  .input::placeholder {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
  }
  
  .input:focus + .placeholder {
    opacity: 1;
  }
  
  .input:focus {
    outline: 2px solid blueviolet;
    border: none;
    color: blueviolet;
  }
  
  .input:focus::placeholder {
    opacity: 0;
  }
  
/* height input text */
.wrapper2 {
    position: relative;
    top: 165px;
    left: 140px;
  }
  
  .input {
    width: 190px;
    height: 35px;
    border-radius: 5px;
    border: 2px #323232 solid;
    padding: 5px 15px;
    background-color: #ffffff;
    font-size: 15;
    font-weight: 500;
  }
  
  .placeholder {
    width: 65%;
    position: absolute;
    top: -18px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    text-align: center;
    color: blueviolet;
    background-color: #ffffff;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1.5px;
    transition: all 0.3s;
    opacity: 0;
  }
  
  .input::placeholder {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
  }
  
  .input:focus + .placeholder {
    opacity: 1;
  }
  
  .input:focus {
    outline: 2px solid blueviolet;
    border: none;
    color: blueviolet;
  }
  
  .input:focus::placeholder {
    opacity: 0;
  }

  /* Proceed Button */

  .cta {
    display: flex;
    padding: 11px 33px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: white;
    background: #6225E6;
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
    border: none;
  }
  
  .cta:focus {
    outline: none;
  }
  
  .cta:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 #FBC638;
  }
  
  .cta .second {
    transition: 0.5s;
    margin-right: 0px;
  }
  
  .cta:hover  .second {
    transition: 0.5s;
    margin-right: 45px;
  }
  
  .span {
    transform: skewX(15deg)
  }
  
  .second {
    width: 20px;
    margin-left: 30px;
    position: relative;
    top: 12%;
  }
  
  .one {
    transition: 0.4s;
    transform: translateX(-60%);
  }
  
  .two {
    transition: 0.5s;
    transform: translateX(-30%);
  }
  
  .cta:hover .three {
    animation: color_anim 1s infinite 0.2s;
  }
  
  .cta:hover .one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
  }
  
  .cta:hover .two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
  }
  
  @keyframes color_anim {
    0% {
      fill: white;
    }
  
    50% {
      fill: #FBC638;
    }
  
    100% {
      fill: white;
    }
  }

  