 .u-section-1 {
  background-image: linear-gradient(black, #6030e0);
}

.u-section-1 .u-sheet-1 {
  min-height: 705px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 100px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 502px;
  --radius: 20px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 187px;
  height: 211px;
  --radius: 10px;
  margin: 0 auto 0 90px;
}

.u-section-1 .u-image-2 {
  width: 187px;
  height: 211px;
  --radius: 10px;
  margin: 68px auto 0 90px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 516px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 2rem;
  margin: 30px auto 0 60px;
}

.u-section-1 .u-text-2 {
  margin: 13px 506px 0 90px;
}

.u-section-1 .u-text-3 {
  margin: 11px 470px 0 126px;
}

.u-section-1 .u-text-4 {
  margin: 0 316px 0 194px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: -28px 96px 0 500px;
}

.u-section-1 .u-text-6 {
  margin: 28px 471px 0 126px;
}

.u-section-1 .u-text-7 {
  margin: 12px 312px 0 198px;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  margin: -28px 96px 0 501px;
}

.u-section-1 .u-text-9 {
  margin: 30px 412px 0 184px;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  margin: -26px 249px 0 347px;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  margin: 6px 250px 0 346px;
}

.u-section-1 .u-text-12 {
  margin: -28px 441px 0 156px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  box-shadow: 2px 5px 0px 0 rgba(41,46,51,0.4);
  margin: 39px auto 0 156px;
  padding: 18px 52px 19px 50px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  box-shadow: 2px 5px 0px 0 rgba(114,104,63,0.4);
  margin: -59px 126px 0 auto;
  padding: 18px 61px 19px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 414px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 425px;
  }

  .u-section-1 .u-text-2 {
    font-weight: normal;
    margin-right: 439px;
    margin-left: 23px;
  }

  .u-section-1 .u-text-3 {
    font-weight: normal;
    margin-right: 404px;
    margin-left: 59px;
  }

  .u-section-1 .u-text-4 {
    font-weight: normal;
    margin-right: 249px;
    margin-left: 127px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 29px;
    margin-left: 433px;
  }

  .u-section-1 .u-text-6 {
    font-weight: normal;
    margin-right: 404px;
    margin-left: 59px;
  }

  .u-section-1 .u-text-7 {
    font-weight: normal;
    margin-right: 245px;
    margin-left: 131px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 29px;
    margin-left: 434px;
  }

  .u-section-1 .u-text-9 {
    font-weight: normal;
    margin-right: 345px;
    margin-left: 118px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 183px;
    margin-left: 280px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 184px;
    margin-left: 279px;
  }

  .u-section-1 .u-text-12 {
    font-weight: normal;
    margin-right: 374px;
    margin-left: 89px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 89px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 317px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 46px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 46px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 315px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 316px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 176px;
    margin-left: 54px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 315px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 316px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 172px;
    margin-left: 58px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
    margin-left: 316px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 272px;
    margin-left: 45px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 110px;
    margin-left: 207px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 111px;
    margin-left: 206px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 301px;
    margin-left: 16px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 16px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 408px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -53px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 26px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -42px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -4px;
  }

  .u-section-1 .u-text-12 {
    margin-top: -21px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 17px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 257px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 115px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 116px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 30px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 115px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 116px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 30px;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 116px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 117px;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 10px;
    margin-left: 107px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 11px;
    margin-left: 106px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 117px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}